@model IEnumerable<Store2.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameOfClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressOfClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneOfClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailOfClient)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameOfClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressOfClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneOfClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailOfClient)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClientID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClientID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClientID })
        </td>
    </tr>
}

</table>
