@model Store2.Models.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.NameOfClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.NameOfClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.NameOfEmployee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.NameOfEmployee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataOfOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataOfOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountOfProduct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountOfProduct)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
